<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Об авторе</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
  </head>
  <body>
  <div>
    <header class="top">
        <img id="headerLogo"
             src="static/images/header.png" alt="Нахождение корней квадратного уравнения">
      </header>

    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/scheme">Схема решения квадратного уравнения</a></li>
        <li><a href="/links">Полезные ссылки</a></li>
        <li class="selected"><a href="/about">Об авторе</a></li>
      </ul>
      </nav>

    <h1>Об авторе</h1>
    <p>
        Автор сайта: Тимкин Никита, студент группы ИВТ-224.
    </p>

    <footer>
        &copy; 2023, Тимкин Н.
      </footer>
    </div>
  </body>
</html>