<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Полезные ссылки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
  </head>
  <body>
    <div>
    <header class="top">
        <img id="headerLogo"
             src="static/images/header.png" alt="Нахождение корней квадратного уравнения">
      </header>

    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/scheme">Схема решения квадратного уравнения</a></li>
        <li class="selected"><a href="/links">Полезные ссылки</a></li>
        <li><a href="/about">Об авторе</a></li>
      </ul>
      </nav>

    <h1>Полезные ссылки</h1>
    <p>
        <ol id="links">
            <li><a href="https://www.youtube.com/@hitman_math">Хитман из МГУ готовит школьников к ЕГЭ</a></li>
            <li><a href="http://mathprofi.ru/matematika_dlya_chainikov.html">Высшая математика доступным языком</a></li>
            <li><a href="https://www.youtube.com/@math_and_magic">Одиозный дед учит математике и показывает фокусы</a></li>
            <li><a href="https://mathdf.com/ru/">Сайт для проверки своих вычислений</a></li>
            <li><a href="https://www.youtube.com/@user-rb8ux1no6j">Савватеев и ко</a></li>
        </ol>
    </p>

    <footer>
        &copy; 2023, Тимкин Н.
      </footer>
    </div>
  </body>
</html>